#menu ul{
list-style-type:none;
padding:2px;
margin:2px;
}

#menu ul li{
display:inline;
}
 
#menu ul a{
text-decoration:none;
width:129px;
float:left;
background-color: blue;
color:#fff;
font-weight:bold;
text-align:center;
line-height:35px;
border-left:1px solid #fff;
}